* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.ground {
  height: 200px;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 50%;
  transform: rotateX(45deg);
  position: relative;
  top: -100px;
  z-index: 10;
}

.belly-dancer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  width: 200px;
  background-color: dodgerblue;
  z-index: 20;
}

.face {
  height: 100px;
  width: 70px;
  background-color: #f5deb3;
  border-radius: 30% 30% 50% 50%;
  z-index: 90;
}

.neck {
  height: 30px;
  width: 20px;
  /* background-color: linear-gradient(90deg, #e4cda2 0%, #f5deb3 100%); */
  background-color: #e4cda2;
  position: relative;
  top: -10px;
  z-index: 50;
  overflow: hidden;
  /* border-radius: 30% 30% 50% 50%; */
}

.neck-and-shoulder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 150px;
  overflow: hidden;
  position: relative;
}

.shoulder {
  height: 1000px;
  width: 1000px;
  background-color: #e4cda2;
  transform: rotate(45deg);
  position: absolute;
  z-index: 100;
  top: 200px;
  border-radius: 50px;
}

.torso {
  display: flex;
  position: relative;
}
.chest {
  height: 70px;
  width: 130px;
  background-color: #e4cda2;
  position: relative;
  top: -10px;
  z-index: 60;
  border-radius: 30% 30% 50% 50%;
}
.breast > .left,
.breast > .right {
  height: 70px;
  width: 70px;
  background-color: #fd00fd;
  border-radius: 70px;
  box-shadow: 0px 10px #ee00ee;
}
.breast {
  display: flex;
  position: absolute;
  z-index: 100;
  bottom: -20px;
}
.below-breast > .right {
  height: 100px;
  width: 45px;
  background-color: #e4cda2;
  border-radius: 30% 30% 80% 0%;
  z-index: 90;
}
.below-breast {
  display: flex;
}

.below-breast > .left {
  height: 100px;
  width: 45px;
  background-color: #e4cda2;
  border-radius: 30% 30% 0% 80%;
  z-index: 90;
}

.waist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.above-hip {
  height: 100px;
  width: 120px;
  background-color: #e4cda2;
  border-radius: 50% 50%;
  z-index: 80;
  position: relative;
  margin-top: 10px;
  /* top: -10px; */
}
#test {
  width: 130px;
  height: 150px;
  background: #e4cda2;
  position: absolute;
  display: inline-block;
}

#test:before {
  background: dodgerblue;
  height: 150px;
  width: 30px;
  border-radius: 0 60px 60px 0 / 0 150px 150px 0;
  display: inline-block;
  content: "";
}

#test:after {
  background: dodgerblue;
  height: 150px;
  width: 30px;
  border-radius: 60px 0 0 60px / 150px 0 0 150px;
  content: "";
  position: absolute;
  right: 0px;
}

.hip {
  height: 1000px;
  width: 1000px;
  background-color: fuchsia;
  transform: rotate(45deg);
  position: absolute;
  z-index: 300;
  bottom: 200px;
  border-radius: 50px;
}
.scapula {
  height: 50px;
  width: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  top: -32px;
}

.legs {
  display: flex;
  height: 400px;
  width: 120px;
  position: relative;
  justify-content: space-between;
  top: -70px;
}
.legs > * {
}

.legs > .left,
.legs > .right {
  width: 50px;
}

.thigh {
  height: 150px;
  background-color: #e4cda2;
  border-radius: 0 0 15px 15px;
}

.knee {
  height: 40px;
  width: 50px;
  border-radius: 15px;
  background-color: #e4cda2;
  position: relative;
  top: -10px;
}
