* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --pink: #ff7aac;
  --yellow: #fdd50a;
  --yellow-dark: #ecc200;
  --skin: #f4c2a6;
  --skin-dark: #f8d3bf;
  --skin-mouth: #933634;
  --skin-tongue: #c95047;
  --red: #e3222f;
  --blue: #306aed;
  --blue-dark: #115ada;
  --blue-light: #aebedc;
  --blue-sky: #72beff;
  --blue-green: #3a9edc;
  --animation-duration: 2s;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: firebrick;
}
.animation {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}
.door-inner {
  height: 90%;
  width: 80%;
  align-self: flex-end;
  background-color: brown;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.door-inner > * {
  height: 98%;
  background-color: black;
}

.door-inner > .left {
  width: 45%;
  transform-origin: 0% 50%;
  /* animation: leftDoor 5s ease; */
}

.door-inner > .right {
  width: 51%;
  animation: rightDoor 5s ease;
  /* transform-origin: 100% 50%; */
}

@keyframes leftDoor {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(80deg);
  }
}

@keyframes right {
  from {
    transform: rotateY(80deg);
  }
  to {
    transform: rotateY(-80deg);
  }
}
